.sidebar{
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}