.sidebar{
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: antiquewhite;
    padding: 2em 1em;
}
.sidebar__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}